.MuiTableRow-root>*{
    padding:10px !important;
    height:2rem;
    font-size: 1rem!important;
    
}
.MuiTableRow-root.MuiTableRow-head>*{
    font-weight: bold!important;

}
.Table{
    padding-bottom: 25rem;
}
.Table,td,th{
 border:none!important;
 padding-top: 15px;
 padding-bottom: 15px;
 
}
.Table:first-child{
    border-radius: 0.7rem!important;
    
}
.status{
    padding:8px;
    border-radius: 9px;
}
.Details{
    color: #00b5ff!important;
}
@media (max-width:1200px) {
    .Table{
        width: 170%;
        margin-top: 2rem;
    }
    
}
